<div class="card">
    <h5 class="card-header">CARS</h5>
    <div class="card-body">
      <div class='table-responsive-sm'>
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table row-border hover table-bordered"
          *ngIf="cars; else loading">
          <tbody>
            <tr *ngFor="let car of cars">
              <td>{{ car.id}}</td>
              <td>{{ car.carBrand.name }}</td>
              <td style="width: 9%;">{{ car.carModel.name }}</td>
              <td>{{ car.carClass.name }}</td>
              <td>{{ car.fuelType.name }}</td>
              <td>{{ car.transmissionType.name }}</td>
              <td style="width: 10%;">{{ car.seatsForKids }}</td>
              <td>{{car.user.firstName}} {{car.user.lastName}}</td>
              <td class="text-center"><button></button></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th><input type="text" class="bottom-border" placeholder="Search id" name="search-id" /></th>
              <th><input type="text" class="bottom-border" placeholder="Search brand" name="search-name" /></th>
              <th style="width: 9%;"><input type="text" class="bottom-border" placeholder="Search model" name="search-name" /></th>
              <th><input type="text" class="bottom-border" placeholder="Search class" name="search-name" /></th>
              <th><input type="text" class="bottom-border" placeholder="Search fuel type" name="search-name" /></th>
              <th><input type="text" class="bottom-border" placeholder="Search transmission type" name="search-name" /></th>
              <th style="width: 10%;"><input type="text"  class="bottom-border" placeholder="Search seats" name="search-name" /></th>
              <th><input type="text" class="bottom-border" placeholder="Search owner" name="search-name" /></th>
              <th></th>
            </tr>
          </tfoot>
        </table>
        <br>
        <br>
      </div>
    </div>
    <form [formGroup]="reservationForm" class="reservation-form">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" formControlName="sameUser">
            <label class="form-check-label" for="defaultCheck1">
              Same reservation request for same owner:
            </label>
          </div>
    </form>
    <button class="btn btn-primary" (click)="onSubmit()">Send reservation request</button>
  </div>


  <ng-template #loading>
    Loading fuel types...
  </ng-template>
