<div class="search-form">
    <h1 class="text-center">Search form</h1>
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="form-group col">
                <label>From</label>
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #da="ngbDatepicker"
                        formControlName="fromDate">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="da.toggle()" type="button"><img
                                src="../../../../../assets/images/calendar.svg"></button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="time">Time</label>
                            <ngb-timepicker [spinners]="false" formControlName="fromTime" id="time" ></ngb-timepicker>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <label>To</label>
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker"
                        formControlName="toDate">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><img
                                src="../../../../../assets/images/calendar.svg"></button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="time">Time</label>
                            <ngb-timepicker [spinners]="false" formControlName="toTime" id="time" ></ngb-timepicker>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="ml-2" *ngFor="let pickup of pickups; let i = index">
                <input type="radio" [value]="i" formControlName="pickup"/> {{pickups[i].street}}, {{pickups[i].city}}
            </label>
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
</div>