<div class="card">
    <h5 class="card-header">Fuel types</h5>
    <div class="card-body">
        <div class="float-right"><button class="btn btn-primary mb-2" (click)="openModal()">Add</button></div>
      <div class='table-responsive-sm'>
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table row-border hover table-bordered"
          *ngIf="users; else loading">
          <tbody>
            <tr *ngFor="let user of users">
              <td>{{ user.id}}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.firstName }}</td>
              <td>{{ user.lastName }}</td>
              <td>{{ user.enabled }}</td>
              <td class="text-center" style="width: 15%;"><button></button></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th style="width: 5%;"><input type="text" class="bottom-border" placeholder="Search id" name="search-id" /></th>
              <th><input type="text" class="bottom-border" placeholder="Search name" name="search-name" /></th>
              <th><input type="text" class="bottom-border" placeholder="Search name" name="search-name" /></th>
              <th><input type="text" class="bottom-border" placeholder="Search name" name="search-name" /></th>
              <th><input type="text" class="bottom-border" placeholder="Search name" name="search-name" /></th>
              <th style="width: 15%;"></th>
            </tr>
          </tfoot>
        </table>
        <br>
        <br>
      </div>
    </div>
  </div>


  <ng-template #loading>
    Loading users...
  </ng-template>