.table {
    background-color: white;
}

.table-bordered {
    border: 1px solid #e6e6f2;
}

.bottom-border {
    outline: 0;
    border-width: 0 0 2px;
    border-color: white

}

.button-td{
    width: 500px;
}
