<div class="dashboard-main-wrapper">
    <!-- left sidebar -->
    <div class="nav-left-sidebar sidebar-dark">
      <div class="menu-list">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav flex-column">
              <li class="nav-divider">
                Menu
              </li>
              <li class="nav-item ">
                <a class="nav-link" routerLink="./">Dashboard </a>
              </li>        
              <li class="nav-item ">
                <a class="nav-link" routerLink="car-brand">Car Brand </a>
              </li> 
              <li class="nav-item ">
                <a class="nav-link" routerLink="car-class">Car Class </a>
              </li> 
              <li class="nav-item ">
                <a class="nav-link" routerLink="car-model">Car Model </a>
              </li> 
              <li class="nav-item ">
                <a class="nav-link" routerLink="fuel-type">Fuel Type </a>
              </li> 
              <li class="nav-item ">
                <a class="nav-link" routerLink="transmission-type">Transmission Type </a>
              </li>     
              <li class="nav-item ">
                <a class="nav-link" routerLink="users">Users </a>
              </li>     
              <li class="nav-item ">
                <a class="nav-link" routerLink="ratings">Ratings </a>
              </li>  
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <!-- end left sidebar --> 
    <div class="dashboard-wrapper">
      <div class="dashboard-ecommerce">
          <div class="container-fluid dashboard-content ">
            <router-outlet></router-outlet>
            </div>
            </div>
            </div>
  </div>